header {

    background-color: white;
    border-bottom: 20px solid rgb(206, 216, 206);
    height: 100px;    
}

header img {

    float: right;
    padding-top: 20px;}

h1 img {

    float: left;
    padding-top: 8px;
    margin-bottom: 40px;
}
header h1{

    font-family: Helvetica;
    font-style: italic;
    font-size: 20px;
}

header h4{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 10px;
    color: grey;
}

