/* The Header  */

header {

    background-color: white;
    border-bottom: 20px solid rgb(206, 216, 206);
    height: 100px;    
    width: 960px;
    margin: 0px auto;
}

header img {

    float: right;
    padding-top: 20px;}

h1 img {

    float: left;
    padding-top: 8px;
    margin-bottom: 40px;
}
header h1{

    font-family: Helvetica;
    font-style: italic;
    font-size: 20px;
}

header h4{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 10px;
    color: grey;
}

/* The Main - Part one  */

main {

    width: 960px;
    margin: 0px auto;
}

main img {

    float: right;
    padding-top: 60px;
    margin-bottom: 40px;
}
main h2{

    font-family: Helvetica;
    font-style: bold;
    font-size: 30px;
}

main p{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 10px;
    color: grey;
    padding-top: 0px;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 10px;
    color: grey;
    padding-top: 42px;
    float: right;
}
/* The Main - Part two  */

.choco-image {

    width: 960px;
    margin: 0 auto;
}

.pargh {
    width: 960px;
    margin: 0 auto;
    color: gray;
}

li {

    text-align: center;
}

.List {

     background-image: url(images/list-bg.png);
     background-position: center;
     background-size: contain;
     width: 960px;
     margin: 0 auto;
     border-bottom: 20px solid rgb(206, 216, 206);
     padding-bottom: 30px;
}

/* The Main - Part three  */

.bottom-image {

    padding-top: 20px;
    width: 960px;
    margin: 0 auto;
    padding-right: 20px;
}

footer {

    text-align: center;
    color: gray;
    border: 1px solid gainsboro;
}

button {

        padding: 25px;
        background: rgb(190, 12, 12);
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 545px;
        transition: 350ms;
        cursor: pointer;
        text-align: center;  
}
